body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50px;
}

.result-container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1200px;
    height: 1300px;
}

h2 {
    color: #333;
    font-size: 2em;
}

.score-category, .score-decision {
    color: #555;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.score-meter {
    margin-top: 30px;
    position: relative;
}

.circular-chart {
    transform: rotate(-90deg);
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.circle-background {
    stroke: #e6e6e6;
}

.circle-fill {
    stroke-linecap: round;
    transition: stroke-dasharray 1s ease;
}

.score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.score-category {
    color: #333;
    font-weight: bold;
}

.score-decision {
    color: #777;
}

.global-score {
    margin-top: 30px;
    position: relative;
    font-size: large;
  
}

a {
    background-color: #ffc09f;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px; 
    font-family: 'Montserrat', sans-serif; 
    border-color: white;
    &:hover {
        background-color: #ff8c61;
        font-weight: bold;
    }
    font-size: x-large;
    text-decoration: none;
} 

button { 
    padding: 10px 15px;
    border-color: transparent;
    background-color: transparent;

}
