@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    color: #2c2a29;
}

nav {
    background-color: white;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #2c2a29;
    text-decoration: none;
    padding-inline-start: 10px;
    }
    
nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ffc09f;
}

.accordion-button {
    background-color: #fcf5c7;
    color: #666;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
}

.accordion-button.active, .accordion-button:hover {
    background-color: #fcf5c7;
}

.accordion-content {
    display: none;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}

.content {
    background-color: white;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.content h1, .content h2 {
    color: #333;
}

.content p {
    color: #666;
}

.content label {
    display: block;
    margin-top: 10px;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}

.content section {
    margin-bottom: 15px;
}

form {
    align-content: center;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid #ffc09f;
    border-radius: 4px;
    background-color: white;
    padding-right: 80px;
    font-family: 'Montserrat', sans-serif;
}

select, option {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffc09f;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    color: #666;
}

.form-column {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.content div[id="result"] {
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.content input[type="number"], .content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffc09f;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    color: #666;
}

.content button[type="submit"] {
    background-color: #ffc09f;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px; 
    font-family: 'Montserrat', sans-serif; 
    border-color: white;
    &:hover {
        background-color: #ff8c61;
        font-weight: bold;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

footer {
    background-color: #6d6d6d;
    color: white;
    text-align: center;
    padding: 10px 10px;
}