<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorecard Prediction</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Barra de Navegación -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="#reporte">Reporte técnico</a></li> <!-- Pendiente agregar enlace -->
            <li><a href="https://github.com/stefanycantero/scorecard_web_app">GitHub</a></li> <!-- Pendiente agregar enlace -->
        </ul>
    </nav>

    <!-- Contenido Principal -->
    <div class="content">
        <!-- Descripción del Proyecto -->
        <section id="description">
            <h2>Acerca del proyecto</h2>
            <p>Este aplicativo predice la probabilidad de que un cliente obtenga un crédito basado en sus
                características.
                Es fácil de usar y tiene múltiples herramientas para ayudar al usuario.</p>
        </section>

        <!-- Video -->
        <div class="accordion">
            <button class="accordion-button">¿Cómo usar el aplicativo?</button>
            <div class="accordion-content">
                <section id="video">
                    <p>Mira el video tutorial para aprender a usar la aplicación:</p>
                    <video width="400" controls>
                        <source src="{{ url_for('static', filename='tutorial.mp4') }}" type="video/mp4">
                        Tu navegador no soporta la reproducción de videos.
                    </video>
                </section>
            </div>
        </div>

        <!-- Formulario -->
        <section id="formulario">
            <h2>Realiza una predicción</h2>
            <p>En este formulario encontrarás distintas preguntas con relación al crédito solicitado.</p>
            <form action="/form" method="POST">
                <div class="form-column">
                    <label for="loan_amnt">Monto del crédito:
                        <input type="number" id="loan_amnt" name="loan_amnt" step="any" required>
                    </label><br>
                    <label for="term">Plazo:
                        <input type="number" id="term" name="term" step="any" required>
                    </label><br>
                    <label for="int_rate">Tasa de interés:
                        <input type="number" id="int_rate" name="int_rate" step="any" required>
                    </label><br>
                    <label for="installment">Cuota:
                        <input type="number" id="installment" name="installment" step="any" required>
                    </label><br>
                    <label for="sub_grade">Subgrado:</label>
                    <select id="sub_grade" name="sub_grade" required>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="A5">A5</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="B3">B3</option>
                        <option value="B4">B4</option>
                        <option value="B5">B5</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                        <option value="C3">C3</option>
                        <option value="C4">C4</option>
                        <option value="C5">C5</option>
                        <option value="D1">D1</option>
                        <option value="D2">D2</option>
                        <option value="D3">D3</option>
                        <option value="D4">D4</option>
                        <option value="D5">D5</option>
                        <option value="E1">E1</option>
                        <option value="E2">E2</option>
                        <option value="E3">E3</option>
                        <option value="E4">E4</option>
                        <option value="E5">E5</option>
                        <option value="F1">F1</option>
                        <option value="F2">F2</option>
                        <option value="F3">F3</option>
                        <option value="F4">F4</option>
                        <option value="F5">F5</option>
                        <option value="G1">G1</option>
                        <option value="G2">G2</option>
                        <option value="G3">G3</option>
                        <option value="G4">G4</option>
                        <option value="G5">G5</option>
                    </select><br>
                    <label for="emp_length">Años de empleo:
                        <input type="number" id="emp_length" name="emp_length" step="any" required>
                    </label><br>
                    <label for="annual_inc">Ingreso anual:
                        <input type="number" id="annual_inc" name="annual_inc" step="any" required>
                    </label><br>
                    <label for="dti">Relación deuda-ingreso:
                        <input type="number" id="dti" name="dti" step="any" required>
                    </label><br>
                    <label for="delinq_2yrs">Morosidad en 2 años:
                        <input type="number" id="delinq_2yrs" name="delinq_2yrs" step="any" required>
                    </label><br>
                    <label for="inq_last_6mths">Consultas en los últimos 6 meses:
                        <input type="number" id="inq_last_6mths" name="inq_last_6mths" step="any" required>
                    </label><br>
                    <label for="open_acc">Cuentas abiertas:
                        <input type="number" id="open_acc" name="open_acc" step="any" required>
                    </label><br>    
                </div>
                <div class="form-column">
                    <label for="pub_rec">Registros públicos:
                        <input type="number" id="pub_rec" name="pub_rec" step="any" required>
                    </label><br>
                    <label for="revol_bal">Saldo revolvente:
                        <input type="number" id="revol_bal" name="revol_bal" step="any" required>
                    </label><br>
                    <label for="revol_util">Utilización revolvente:
                        <input type="number" id="revol_util" name="revol_util" step="any" required>
                    </label><br>
                    <label for="tot_coll_amt">Monto total de colecciones:
                        <input type="number" id="tot_coll_amt" name="tot_coll_amt" step="any" required>
                    </label><br>
                    <label for="tot_cur_bal">Saldo total actual:
                        <input type="number" id="tot_cur_bal" name="tot_cur_bal" step="any" required>
                    </label><br>
                    <label for="home_ownership">Propiedad de vivienda:</label>
                    <select id="home_ownership" name="home_ownership" required>
                        <option value="MORTGAGE">Hipoteca</option>
                        <option value="NONE">Ninguna</option>
                        <option value="OTHER">Otra</option>
                        <option value="OWN">Propia</option>
                        <option value="RENT">Alquiler</option>
                    </select><br>
                    <label for="verification_status">Estado de verificación:</label>
                    <select id="verification_status" name="verification_status" required>
                        <option value="Source Verified">Fuente verificada</option>
                        <option value="Verified">Verificado</option>
                    </select><br>
                    <label for="purpose">Propósito:</label>
                    <select id="purpose" name="purpose" required>
                        <option value="credit_card">Tarjeta de crédito</option>
                        <option value="debt_consolidation">Consolidación de deuda</option>
                        <option value="educational">Educativo</option>
                        <option value="home_improvement">Mejoras en el hogar</option>
                        <option value="house">Casa</option>
                        <option value="major_purchase">Compra importante</option>
                        <option value="medical">Médico</option>
                        <option value="moving">Mudanza</option>
                        <option value="other">Otro</option>
                        <option value="renewable_energy">Energía renovable</option>
                        <option value="small_business">Pequeño negocio</option>
                        <option value="vacation">Vacaciones</option>
                        <option value="wedding">Boda</option>
                    </select><br>
                </div>
                <div class="button-container">
                    <input type="submit" value="Predecir">
                </div>    
            </form>
           <!-- <div id="result"></div>-->
        </section>

        <!-- Reporte tecnico 
        <section id="reporte">
            <h2>Reporte Técnico</h2>
            <p>Encuentra aquí todos los detalles sobre la elaboración de este proyecto</p>
            <a>Blog del proyecto en Notion</a>
        </section>  -->

        <!-- Repositorio
        <section id="repositorio">
            <h2>Repositorio</h2>
            <p>En este repositorio puedes ver más a fondo sobre el desarrollo del código para lograr esta web app</p>
            <a>Enlace de GitHub</a>
        </section> -->

        <!-- <script>
            $(document).ready(function () {
                // Formulario
                $('#prediction-form').on('submit', function(event) {
                    event.preventDefault(); // Prevent the form from submitting the traditional way
                    $.ajax({
                        url: "{{ url_for('form') }}",
                        type: "POST",
                        data: $(this).serialize(),
                        success: function(response) {
                            if (response.prediction !== undefined) {
                                $('#result').html(
                                    '<h2>Resultado de la Predicción</h2><p>Su puntaje crediticio es: <strong>' + response.prediction.toFixed(2) + '</strong></p>'
                                );
                            } else if (response.error !== undefined) {
                                $('#result').html('<p>Hubo un error al procesar el formulario: ' + response.error + '</p>');
                            }
                        },
                        error: function(xhr, status, error) {
                            $('#result').html('<p>Hubo un error al procesar el formulario: ' + error + '</p>');
                        }
                    });
                });

                // Acordeón
                $('.accordion-button').click(function () {
                    $(this).next('.accordion-content').slideToggle();
                    $(this).toggleClass('active');
                });
            });
        </script>-->
    </div>

    <!-- Pie de Página -->
    <footer>
        <p> Página web desarrollada con fines educativos para la asignatura Redes Neuronales y Algoritmos Bioinspirados
        </p>
    </footer>
</body>

</html>